#date ul li {
    position: relative;
}

#teachers ul li{
    position: relative;
}

#date ul li .delete{
    position: absolute;
    top: 6px;
    right: 6px;
	width: 24px;
	height: 24px;
    background: url(img/apple/img/delete.png);
}

#teachers ul li .delete{
    position: absolute;
    top: 6px;
    right: 6px;
	width: 24px;
	height: 24px;
    background: url(img/apple/img/delete.png);
}

.about {width: 128px; margin: 0 auto;}
.about_text {font-size: 14px; }
#create {font-size:55px;}